<footer class="bg-light text-dark py-4">
    <div class="container text-center">
        <p class="mb-1">
            <strong>Call:</strong> 
            <a href="tel:8019602218" class="text-dark text-decoration-none">(801)-872-3190</a>
        </p>
        <p class="mb-1">
            <strong>Email:</strong> 
            <a href="mailto:itstheglassguys@gmail.com" class="text-dark text-decoration-none">turtleshelterproject@gmail.com</a>
        </p>
        <p class="mb-1">
            <strong>Mailing Address:</strong> 
            <a class="text-dark text-decoration-none">Turtle Shelter Project, PO Box 382, Kaysville, UT 84037</a>
        </p>
        <p>
            <a href="https://www.facebook.com/turtleshelterproject/" target="_blank" class="text-dark text-decoration-none">
                <i class="fab fa-facebook"></i> Follow us on Facebook
            </a>
        </p>
    </div>
</footer>