<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;700&display=swap" rel="stylesheet">
    <title>Volunteer Here</title>
    <style>

        body {
            font-family: 'Arial', sans-serif;
        }

        .banner {
            background: linear-gradient( rgba(92, 88, 88, 0.7), rgba(92, 88, 88, 0.7)), 
                        url('/group2.jpg') no-repeat center center;
            background-size: cover;
            height: 400px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            color: #ffffff;
            font-family: 'Oswald', sans-serif;
            text-transform: uppercase;
            font-size: 3rem;
            padding: 50px 20px; /* Add some space around the text */
        }

        form {
            max-width: 600px;
            margin: 40px auto;
            padding: 20px;
            background: rgba(211, 211, 211, 0.199); /* Slight transparency */
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
        }

        fieldset {
            border: 2px solid #ccc;
            padding: 20px;
            border-radius: 8px;
        }

        input[type="text"], input[type="tel"], input[type="email"], input[type="number"], input[type="date"], input[type="time"], select {
            width: 100%;
            padding: 10px;
            margin-bottom: 20px;
            border: 1px solid #ddd;
            border-radius: 4px;
            font-size: 1rem;
        }

        input[type="text"]:focus, input[type="tel"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="date"]:focus, input[type="time"]:focus, select:focus {
            border-color: #1f7646;
            outline: none;
        }

        button[type="submit"] {
            background-color: #1f7646;
            color: white;
            padding: 12px 25px;
            border: none;
            border-radius: 5px;
            font-size: 1rem;
            cursor: pointer;
            transition: background-color 0.3s ease-in-out;
        }

        button[type="submit"]:hover {
            background-color: #1b633b;
        }

        .time-picker {
            width: 100%;
        }

        label {
            font-size: 1rem;
            font-weight: 600;
            color: #555;
        }

        @media (max-width: 768px) {
            form {
                margin: 20px;
                padding: 15px;
            }
        }

    </style>
</head>
<body>
    <!-- Nav Bar -->
    <%- include('partials/navbar', { page: 'volunteer' }) %>

    <!-- Want to get more involved? -->
    <div class="banner">
        Want to get more involved?
    </div>

    <div style="margin: 0 50px; display: flex; flex-direction: column; align-items: center; text-align: center;">
        <br><br>
        <p style="color:rgba(65, 62, 62, 0.7)"> Fill out the form below to join our team of volunteers!</p>
    </div> 


    <!-- Form Section -->
    <div>
        <br>
        <form action="/volunteer" method="POST">
            <fieldset>
                <div class="form-section">
                    <h2 style="color: #1f7646"><b>Volunteer Information</b></h2>
                    <br>
            
                    <label for="volunteer_first_name">First Name:</label>
                    <input type="text" id="volunteer_first_name" name="volunteer_first_name" required>
                    <br><br>

                    <label for="volunteer_last_name">Last Name:</label>
                    <input type="text" id="volunteer_last_name" name="volunteer_last_name" required>
                    <br><br>

                    <label for="volunteer_age">Age:</label>
                    <input type="number" id="volunteer_age" name="volunteer_age" required>
                    <br><br>

                    <label for="volunteer_phone">Phone Number:</label>
                    <input type="tel" id="volunteer_phone" name="volunteer_phone" placeholder="(123) 456-7890" pattern="^\(?\d{3}\)?[-.\s]?\d{3}[-.\s]?\d{4}$"  required>
                    <br><br>

                    <label for="volunteer_email">Email Address:</label>
                    <input type="email" id="volunteer_email" name="volunteer_email">
                    <br><br>

                    <label for="zip">Zip Code:</label>
                    <input type="number" id="zip" name="zip" required>
                    <br><br>

                    <label for="sewing_level">Sewing Level:</label>
                    <select id="sewing_level" name="sewing_level">
                        <option value="beginner">Beginner</option>
                        <option value="intermediate">Intermediate</option>
                        <option value="experienced">Experienced</option>
                    </select>
                    <br><br><br>

                    <label for="num_monthly_hours">Number of Hours Available:</label>
                    <input type="text" id="num_monthly_hours" name="num_monthly_hours" required>
                    <br><br>

                    <label for="num_volunteers">Number of Volunteers:</label>
                    <input type="number" id="num_volunteers" name="num_volunteers" value="1" required>
                    <br><br>

                    <button type="submit">Submit</button>
                </div>
            </fieldset>
        </form>
        <br>
    </div>

    <!-- Footer -->
    <%- include('partials/footer') %>

</body>
</html>
